.carousel{
	margin-bottom: 100px;

	&__item{
		position: relative;
		height: 400px;
	}

	&__image{
		position: absolute;
		height: 100%;
		width: 100%;
		object-fit: contain;
	}

	&__title{
		background: #1A3598;
		color: white;
		position: absolute;
		bottom: 20px;
		right: 20px;
		display: inline-flex;
		padding: 10px;
		border-radius: 20px;
	}
}